# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. SQL

**Some of the commonly used libraries used by Data Scientists include:**

R Libraries
1. ggplot2
2. dplyr
3. caret

Python Libraries
1. pandas
2. numpy
3. tensorflow

**Tools for data science**
1. pandas (python - For data manipulation and analysis)
2. dplyr (R - For data manipulation and analysis)
3. plotly (python/R - For data visualization)
4. Tableau (For business intelligence and data visualization)

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
mins=200
hours=mins/60
print(hours)

3.3333333333333335

**Objectives:**

In this lab we have covered following topics:
* Popular languages that Data Scientists use
* Commonly used libraries used by Data Scientists
* Tools for data science
* Arithmetic Operations

## Author ##
Mateen Ali